*{
    /* Its a good practice to start with margin=0 and padding=0 */
    padding:0px;
    margin:0px;
}
div{
    display:inline-block;
}
#bar{
    background-color: #0f1111;
    height:60px;
}
a{
    color:white;
    margin-right:200px;
    text-decoration:none;
}
#logo{
    color:#f08804;
    width:200px;
}

button{
    background-color:#f08804;
    color:white;
}