.footer-panel-1{
    margin-top: 10px;
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.footer-panel-2{
    height: 300px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-around;
}
    
.footer-panel-2 p{
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 700px;
}
.footer-panel-2 a{
    margin-top: 10px;
}
.footer-panel-2 a:hover{
    text-decoration: underline;

}
ul a{
    display: block;
}

.footer-panel-3{
    height: 50px;
    background-color: #222f3d;
    border-top: 1px solid white;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer-logo{
    width: 90px;
    height: 40px;
    /* background-image: url("amazon_logo.png"); */
    
}
.footer-logo img{
    width: 90px;
    height: 50px;
}

.footer-panel-4{
    background-color: rgb(28, 27, 27);
   
    text-decoration: none;
    color: white;
    text-align: center;
}
.conditions a{
    color: white;
    text-decoration: none;
    font-size: .9rem;
}
.copyright{
    font-size: .9rem;
}

